* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #0b1956;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 20px;
}

.header {
  background-color: #faf3eb;
  padding-block: 20px;
}

.content {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.content a {
  color: black;
}

a.active {
  background-color: #fb9ebb;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 14px;
}

.wrapper {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input {
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  border: none;
  padding: 5px 20px;
}
.input::placeholder {
  color: #fb9ebb;
  font-weight: 400;
  font-size: 15px;
}

.button {
  padding: 6px;
  background-color: #fedcd2;
  border: none;
  color: #fff;
  border-radius: 3px;
  color: #0b1956;
  font-size: 15px;
  cursor: pointer;
}
.text {
  padding: 10px 20px;
  display: flex;
  align-items: end;
  gap: 10px;
}
.h1 {
  color: #fb9ebb;
}

.deleteBtn {
  padding: 0px 5px;
  background-color: #fedcd2;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}
